@import './media.scss',
'./transition.scss',
'./richtext.scss',
'./iconfont.scss';

body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input,
p,
a,
section,
figure,
figcaption,
hgroup,
pre,
i,
header aside {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-all;
}

html,
body {
  font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
  color: #3d4450;
  font-size: 14px;
  min-height: 100%;
  background: 0% 0%/cover no-repeat fixed;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none !important;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}

i {
  font-style: normal;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div,
section,
ul {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e9eaec;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5cadff;
    border-radius: 8px;
    transition: all 1s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #2d8cf0;
  }
}

.view {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.mainstay {
  width: 66%;
  padding: 0 15px;
}

.mainstayWrapper {
  width: 66%;
}

.markdown-body {
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

@media (max-width: 1040px) {
  .mainstay {
    width: 100%;
  }

  .mainstayWrapper {
    width: 100%;
  }
}

// 去广告
#MZAD_POP_PLACEHOLDER,
#pop_ad {
  margin-top: -250px !important;
  transform: scale(0)
}

#feedAv {
  transform: scale(0);
  margin-top: -150px !important
}

.module-cmt-box {
  padding: 10px 0 !important;
  margin-top: -40px !important
}

.header-login {
  left: 90px !important;
  border: 0 !important;
  border-radius: 0 !important;
  margin-top: 81pt !important;
  border-radius: 21px !important
}

.post-wrap-border-l,
.post-wrap-border-r,
.post-wrap-border-t-l,
.post-wrap-border-t-r {
  display: none
}

.post-wrap-main {
  border: 0 !important
}

.post-wrap-w {
  background: #f0f0f0
}

.btn-fw {
  background: #5fb878 url(https://static.krnet.cc/images/release.svg) center no-repeat !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 70px;
  margin-top: -5px !important;
  margin-right: 40px !important;
  background-size: 30px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  -webkit-transition: .3s;
  transition: .3s
}

.btn-fw:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, .2)
}

.block-head-w {
  margin-top: -20px !important
}

.section-service-w {
  height: 0;
  opacity: 0
}

.head-img-w {
  margin: 0 !important
}

.head-img-w img {
  width: 25px !important;
  height: 25px !important
}

.head-img-w img:hover {
  transition: all .3s;
  transform: scale(3)
}

.head-img-w {
  top: 138px !important;
  left: 95px !important
}

.wrap-action-gw {
  border-bottom: 1px solid #dee4e9 !important;
  padding-top: 30px !important;
  padding-bottom: 1pc !important
}

.cmt-list-number,
.title-name-gw-tag,
.type-lists,
.wrap-name-w {
  display: none !important
}

.cmt-list-type {
  margin: 0 !important
}

.build-floor-gw {
  background: #f0f0f0 !important
}

.block-cont-gw {
  padding: 20px 0 !important;
  border: 0 !important
}

.section-list-w {
  width: 95% !important;
  margin-left: 2% !important
}

.head-img-gw img:hover {
  transition: all .3s;
  transform: scale(.9)
}