@import './media.scss',
'./transition.scss',
'./richtext.scss',
'./iconfont.scss';

body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input,
p,
a,
section,
figure,
figcaption,
hgroup,
pre,
i,
header
aside {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-all;
}

html,
body {
  font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
  color: #3d4450;
  font-size: 14px;
  min-height: 100%;
  background: 0% 0%/cover no-repeat fixed;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none !important;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}

i {
  font-style: normal;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div,
section,
ul {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e9eaec;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5cadff;
    border-radius: 8px;
    transition: all 1s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #2d8cf0;
  }
}

.view {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.mainstay {
  width: 66%;
  padding: 0 15px;
}

.mainstayWrapper {
  width: 66%;
}

.markdown-body {
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}

@media (max-width: 1040px) {
  .mainstay {
    width: 100%;
  }
  .mainstayWrapper {
    width: 100%;
  }
}