// 淡入淡出
.fade-enter-active {
  transition: all .3s linear;
}

.fade-leave-active {
  opacity: 0;
  transition: all .3s linear;
}

.fade-enter {
  opacity: 0;
}

// 高度
.shrink-enter-active {
  transition: all .6s linear;
}

.shrink-leave-active {
  max-height: 0!important;
  transition: all .6s linear;
}

.shrink-enter {
  max-height: 0!important;
}

// 从下往上滑动
.slide-enter-active {
  transition: all .3s linear;
}

.slide-leave-active {
  transform: translateY(40px);
  transition: all .3s linear;
}

.slide-enter {
  transform: translateY(40px);
}

// 从左往右滑动
.slide-right-enter-active {
  transition: all 1s linear!important;
}

.slide-right-leave-active {
  transform: translateX(100px)!important;
  opacity: 0!important;
  transition: all 1s linear!important;
}

.slide-right-enter {
  transform: translateX(100px)!important;
  opacity: 0!important;
}